.form_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border-color: brown;
    border-style: solid;
    max-width: 380px;
    padding-left: 24px;
    padding-right: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 100%;
}

.social_login{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.footer{
    display: flex;
    flex-direction: column;
}