@font-face {
    font-family: 'GothamRoundedBold';
    src:  url('../../assets/fonts/GothamRounded-Bold.otf') format('otf'),
         
}
  * {
    margin: 0;
  }
  *, *::before, *::after {
    box-sizing: border-box;
  }

  
  html, body {
      height: 100%;
      background: linear-gradient(0deg,#FBFCFD,#F7F8FD,);
      font-family: 'GothamRoundedBold';
      overflow: hidden;
      
    }
    @import url('./_button.css');